/*{border:1px solid red;}*/

.wrapper{
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content: center;
	min-height: 100%;
	padding:20px;
	width:100%;
	
}

.formContent{
	border-radius:10px 10px 10px 10px;
	padding:30px;
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	text-align: center;
	
}